<div class='row'>
    <div class='col-md-4'>

        <ul>
            <li>
                <a [routerLink]="['/tours/destination',101]"><img [src]='divine' class='img img-thumbnail'>
                    <figcaption>Divine</figcaption>
                </a>
            </li>
            <li>
                <a [routerLink]="['/tours/destination',102]">
                    <img [src]='adventure' class='img img-thumbnail'>
                    <figcaption>Adventure </figcaption>
                </a>
            </li>
            <li>
                <a [routerLink]="['/tours/destination',103]">
                    <img [src]='heritage' class='img img-thumbnail'>
                    <figcaption>Heritage </figcaption>
                </a>
            </li>
        </ul>

    </div>
    <div class='col-md-8'>
        <router-outlet></router-outlet>
    </div>
</div>