<form [formGroup]='loginForm' (ngSubmit)='submit()'>

    <ng-container *ngFor='let eachControl of formConfig'>

        <div class='form-group'>

            <label>{{eachControl.label}}</label>

            <input [type]=eachControl.type [name]=eachControl.name formControlName={{eachControl.name}} class='form-control'>
        </div>
    </ng-container>

    <input type='submit' value='Login' [disabled]=loginForm.invalid>

</form>
<div *ngIf='loginForm.invalid'><span>Enter all the details</span></div>